#### Hint on mean-centering and standardizing multiple columns using stack-transform-unstack

In [1]:
import pandas as pd
from dfply import *

In [13]:
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [5,6,7],
                   'C': [8, 11, 14]
                  })
df

   A  B   C
0  1  5   8
1  2  6  11
2  3  7  14

In [14]:
(df
 >> gather("group", "value", columns_from(X.A))
 >> group_by(X.group)
 >> mutate(centered = X.value - X.value.mean(),
           z_score = (X.value - X.value.mean())/X.value.std())
)

  group  value  centered  z_score
0     A      1      -1.0     -1.0
1     A      2       0.0      0.0
2     A      3       1.0      1.0
3     B      5      -1.0     -1.0
4     B      6       0.0      0.0
5     B      7       1.0      1.0
6     C      8      -3.0     -1.0
7     C     11       0.0      0.0
8     C     14       3.0      1.0

# Activity 4.1 - Cleaning Walmart Data the OpenRefine Way

In this activity, you will practice what you learned in Lecture 4.5 by cleaning up a data set containing information on various Walmart locations.

In [17]:
import pandas as pd
from dfply import *

#### Initial Tasks

1. Try to read in the `./data/Walmart_United_States_&_Canada.csv` file and verify that you get an encoding error.  This means that the [character encoding](https://en.wikipedia.org/wiki/Character_encoding) isn't the default of `utf-8`.  The easiest way to fix this is to open and save the file in Visual Studio Code.

In [20]:
# Your code here

2. Read in the data to verify that the encoding is fixed, but that there are two more problems.  What are they?

In [19]:
#Your code here

<font color="blue"> Your thoughts here </font>

3. Take another look at the file in VS Code and determine solutions to the two/three issues, then read in the data correctly by passing `pd.read_csv` the correct defaults for this data. **Note.** Leave the `"` in place for now, as they serve an important role here!

In [ ]:
help(pd.read_csv) # This might help!

<font color="blue"> Your thoughts here </font>

In [19]:
#Your code here

## Cleaning up the store information.

As hinted at above, the presence of the `"` meant the two of the columns--one containing the store type/number and the other contain the address/phone number--are combined together.  This was done because some of these entries have a different number of variables.  For example, the store type/number column sometimes occasionally `Gas`.

In this part of the activity, you should apply the iterative OpenRefine approach to separate the information in the store column.

**Warning!** There is one entry that doesn't follow the same pattern as the rest.  You won't find this entry unless you carefully define/fix/eliminate patterns.

In [55]:
from more_dfply import case_when, ifelse
from more_dfply.facets import text_facet, text_filter

# Your code here.

In [56]:
# View cell

In [57]:
# Transform cell

## Cleaning up the address (as time permits).

Next, you should clean up the address column.  Note that this column also contains a variable number of element (sometime containing an extra `(NOP)`

Again, you should apply the iterative OpenRefine approach to separate the information in the store column.

In [58]:
# Your code here.